mixin navbar
  div(role='navigation').navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button(type='button', data-toggle='collapse', data-target='navbar-collapse').navbar-toggle.collapsed
          span.sr-only #{__('Toggle navigation')}
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='/admin').navbar-brand #{locals.title}
      .navbar-collapse
        ul.nav.navbar-nav
          li.dropdown
            a(href='#', data-toggle='dropdown').dropdown-toggle
              i.glyphicon.glyphicon-user
              | &nbsp;Users & Groups
              span.caret

            ul(role='menu').dropdown-menu
              li: a(href='#/users')
                i.glyphicon.glyphicon-list
                | &nbsp;List of users
              li: a(href='#/users/add')
                i.glyphicon.glyphicon-plus
                | &nbsp;Add new User
              li.divider
              li: a(href='#/groups')
                i.glyphicon.glyphicon-list
                | &nbsp;List of groups
              li: a(href='#/groups/add')
                i.glyphicon.glyphicon-plus
                | &nbsp;Add new group

        ul.nav.navbar-nav.navbar-right

          li: a(href='/auth/logout')
            i.glyphicon.glyphicon-off
            | &nbsp;#{__('Log out')}

          li.dropdown
            a(href='#', data-toggle='dropdown').dropdown-toggle
              i.glyphicon.glyphicon-question-sign
              | &nbsp;
              span.caret

            ul(role='menu').dropdown-menu
              li: a(href='#') Some help
              li: a(href='#') Some help 2
              li.divider
              li: a(href='#') Some else