node_modules
bower_components
assets/bower_components
assets/vendor
views/jade/includes.jade
.tmp
dump.rdb

lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log
*.swp
*.swo
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
views/jade/includes.jade
#new_layouts
ejs2
package-lock.json
