include ./mixin/navbar
doctype html
html
  head
    title #{locals.title}
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    //Bootstrap injections
    link(rel="stylesheet", href="/admin/css/bootstrap.min.css")
    link(rel="stylesheet", href="/admin/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/admin/css/animate.css")
    // STYLES
    link(rel="stylesheet", href="/admin/styles/importer.css")
    // STYLES END
    block styles
  body(data-ng-app='Admin')
    block menu
      +navbar()
    block body
      | Layout
    block footer
      div
        hr
        small Some footer info
    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    script(src="/admin/js/dependencies/sails.io.js")
    script(src="/admin/js/dependencies/jquery-2.1.1.min.js")
    script(src="/admin/js/dependencies/angular/angular.js")
    script(src="/admin/js/dependencies/angular/angular-animate.js")
    script(src="/admin/js/dependencies/angular/angular-aria.js")
    script(src="/admin/js/dependencies/angular/angular-messages.js")
    script(src="/admin/js/dependencies/angular/angular-resource.js")
    script(src="/admin/js/dependencies/angular/angular-route.js")
    script(src="/admin/js/dependencies/angular/angular-sanitize.js")
    script(src="/admin/js/dependencies/angular/angular-touch.js")
    script(src="/admin/js/dependencies/bootstrap/bootstrap.js")
    script(src="/admin/js/dependencies/tegnri-angular-admin/app.module.js")
    script(src="/admin/js/dependencies/tegnri-angular-admin/directives/widgets.directive.js")
    script(src="/admin/js/dependencies/tegnri-angular-admin/services/crud-controller.js")
    script(src="/admin/js/app/app.js")
    script(src="/admin/js/app/users/module.js")
    block js
           