<% include head %>
<% include headContent %>

    <% if (Boolean((adminpanel.configHelper.getConfig()).dashboard)) { %>
        <div class="layout">
            <div class="title">Управление виджетами</div>
            <div class="control__content">
                <div class="control__wrap">
                    <div class="control__subtitle">
                        Количество заказов за 05.05
                        <button>
                  <i class="las la-times"></i>
               </button>
                    </div>
                    <ul>
                        <li>
                            <span>Всего:</span>
                            <span>112</span>
                        </li>
                        <li>
                            <span>Общая сумма:</span>
                            <span>20 145 Р</span>
                        </li>
                    </ul>
                    <div class="control__list">
                        <div class="control__item">
                            <div class="contol__name">
                                <span>Заказ №12342</span>
                                <span>1 452 Р</span>
                            </div>
                            <div class="control__date">
                                <span>05.05.2021</span>
                                <span>12:00</span>
                            </div>
                        </div>
                        <div class="control__item">
                            <div class="contol__name">
                                <span>Заказ №12342</span>
                                <span>1 452 Р</span>
                            </div>
                            <div class="control__date">
                                <span>05.05.2021</span>
                                <span>12:00</span>
                            </div>
                        </div>
                        <div class="control__item">
                            <div class="contol__name">
                                <span>Заказ №12342</span>
                                <span>1 452 Р</span>
                            </div>
                            <div class="control__date">
                                <span>05.05.2021</span>
                                <span>12:00</span>
                            </div>
                        </div>
                        <div class="control__item">
                            <div class="contol__name">
                                <span>Заказ №12342</span>
                                <span>1 452 Р</span>
                            </div>
                            <div class="control__date">
                                <span>05.05.2021</span>
                                <span>12:00</span>
                            </div>
                        </div>
                    </div>
                    <div class="show-all">
                        <button>Смотреть все</button>
                    </div>
                </div>
                <div class="control__wrap">
                    <div class="control__subtitle">
                        Отображение сайта
                        <button>
                  <i class="las la-times"></i>
               </button>
                    </div>
                    <div class="turn-on">
                        <button>включить</button>
                    </div>
                </div>
                <div class="control__wrap control__wrap--empty">
                    <div class="control__subtitle">
                        Пустой виджет
                        <button>
                  <i class="las la-times"></i>
               </button>
                    </div>
                </div>
            </div>
        </div>
        <% } else { %>

            HELLO
            <% } %>
                <% include footer %>
