</div>
</div>
</div>

<!-- scripts -->
<script src="/admin/assets/js/ckeditor.js"></script>
<script src="/admin/assets/js/src-min-noconflict/ace.js"></script>
<script src="/admin/assets/js/jsoneditor.min.js"></script>
<script src="/admin/assets/js/jquery.dataTables.min.js"></script>
<script src="/admin/assets/new_layout/js/scripts.js"></script>
</body>

</html>