</div>
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- scripts -->
<script src="/admin/assets/new_layout/js/scripts.js"></script>
</body>

</html>