<div class="content">
    <% include mixin/navbar %>
    <div class="content-inner">
        <% include mixin/alerts %>
        <!--
  <body class="fullbleed layout vertical">
      <drawer-panel>
        <header-panel drawer>

        </header-panel>
        <header-panel main>
          <toolbar>
            <icon-button shape="menu" drawer-toggle></icon-button>
            <div class="flex"><%= adminpanel.menuHelper.getBrandTitle() %></div>
          </toolbar>
          <div class="layout fill vertical">



            <div id="mainLayout"> -->
