<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin</title>


  <link rel="stylesheet" href="/admin/assets/styles/importer.css"/>
  <link rel="stylesheet" href="/admin/assets/styles/custom.css"/>
  <link rel="stylesheet" href="/admin/assets/styles/jsoneditor.min.css"/>

  <!-- jquery -->
  <script src="/admin/assets/js/jquery.min.js"></script>

  <!-- dataTable-->
  <script src="/admin/assets/js/jquery.dataTables.min.js"></script>

  <!-- clr -->
  <link rel="stylesheet" href="/admin/assets/styles/clr-ui.min.css" />
  <!-- style index -->
  <link rel="stylesheet" href="/admin/assets/new_layout/css/style.css" />

  <link rel="stylesheet" href="/admin/assets/styles/clr-icons.min.css"/>


</head>

<body cds-text="body" cds-theme="dark" cds-layout="vertical gap:lg p:lg">
  <div class="main-container">
    <header class="header">
      <div class="header__inner">
        <div class="header__menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="clr-select-wrapper">
          <select class="clr-select">
            <option value="1">Администрирование</option>
            <option value="2">ДАШБОРД</option>
          </select>
        </div>
        <div class="flex"><%= adminpanel.menuHelper.getBrandTitle() %></div>
        <div class="header__login">
          <a class="header__name" href="#">
            <span>Иванов Иван</span>
            <svg>
              <use
                xlink:href="/admin/assets/new_layout/img/sprite_auto.svg#user"
              ></use>
            </svg>
          </a>
          <a class="header__out nav-link" href="#">
            <svg>
              <use
                xlink:href="/admin/assets/new_layout/img/sprite_auto.svg#login-out"
              ></use>
            </svg>
          </a>
        </div>
      </div>
    </header>
    <div class="content">
      <% include mixin/navbar %>
      <div class="content-inner">
        <!-- 
  <body class="fullbleed layout vertical">
      <paper-drawer-panel>
        <paper-header-panel drawer>
          
        </paper-header-panel>
        <paper-header-panel main>
          <paper-toolbar>
            <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
            <div class="flex"><%= adminpanel.menuHelper.getBrandTitle() %></div>
          </paper-toolbar>
          <div class="layout fill vertical">

            <% include mixin/alerts %>

            <div id="mainLayout"> -->

