<!-- STYLES-->
<div class="login-wrapper">
    <form class="login" method="post" action="/admin/userap/login">
        <section class="title">
            <h3 class="welcome">Welcome!</h3>Please log in
        </section>
        <div class="login-group">
            <input type="text" placeholder="Username" name="username"/>
            <input type="password" placeholder="Password" name="password"/>
            <button class="btn btn-primary" type="submit">Log in</button>
        </div>
    </form>
</div>
