mixin showValue(key, field, value)
  case field.model.type
    when 'boolean'
      if value
        iron-icon(icon="check-circle")
      else
        iron-icon(icon="cancel")
    when 'text'
      p !{value}

    when 'association'
      if (typeof value == 'undefined')
        | ------
      else if (typeof value === 'string')
        | #{value}
      else
        | #{value[field.config.displayField]}

    default
      | #{value}
