.text-center {
  text-align: center;
}
.file-container {
  display: flex;
  margin-right: 5px;
  margin-top: 5px;
  position: relative;
}
.file-container .item-image {
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  overflow: hidden;
  margin-bottom: 10px;
}
.file-container .item-image img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  top: 50%;
  left: 50%;
  background-color: #000;
  border: 1px solid #0079B8;
}
.file-container.preview .item-image:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  content: 'Preview image';
  color: #fff;
  font-size: 12px;
  text-align: center;
  background-color: #44c4e7;
  z-index: 3;
}

#fileUploader-container-container {
  display: flex;
  flex-wrap: wrap;
}


.item-file {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.file-container {
  border: 1px solid #4e4e4e;
  background: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

#filesUploader-container-container, #imageUploader-container-container {
  display: flex;
  width: auto;
}

.fileUploader-container-file-container {
  margin-right: 15px;
}

.item-file img {
  width: 100%;
  max-width: 21px;
  height: 21px;
  margin-right: 10px;
}

.fileuploader_name {
  font-size: 14px;
  line-height: 14px;
  color: #828282;
}

.item-control {
  margin-left: 10px;
  cursor: pointer;
  transition: .2s;
}

.item-control:hover {
  opacity: .6;
}

.ui-sortable {
  display: flex;
  flex-wrap: wrap;
}

.modal-body img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}