.text-center {
  text-align: center;
}
.file-container {
  display: inline-block;
  margin: 5px;
  position: relative;
}
.file-container .item-image {
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  overflow: hidden;
}
.file-container .item-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  top: 50%;
  left: 50%;
}
.file-container.preview .item-image:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  content: 'Preview image';
  color: #fff;
  font-size: 12px;
  text-align: center;
  background-color: #44c4e7;
  z-index: 3;
}

