
table.dataTable {
    width: 100% !important; 
}
#list_filter label {
   display: flex;
   padding: 10px 0px 5px 10px;
}

.dataTables_wrapper {
    overflow: scroll;
}

.dataTables_wrapper .dataTables_filter input {
    border: none;
    border-bottom: 1px solid #9A9A9A;
    background: none;
    margin-left: 15px !important;
    width: 100%;
}

.ace_editor {
    width: 100%;
    height: 500px;
}

