.ace_line > * { margin-top: 0 !important; margin-bottom: 0 !important; }
.ace_editor p, .ace_editor div { font-family: 'Monaco', 'Menlo', 'Droid Sans Mono', 'Courier New', monospace !important;}
.cke_reset { width: 100% !important;}
input {width: 100%;}
input[type=datetime-local] {
  max-width: 300px;
}
select {
  max-width: 300px;
}

input[type=number] {
  max-width: 300px;
}
.sidenav a.nav-link {
  margin: 0 !important;
  padding: 0.5rem;
}

a.nav-link clr-icon {
  margin-right: 10px;
}
