/* Include this file in your html if you are using the CSP mode. */

@charset "UTF-8";

#mainLayout {
    padding: 10px;
}
paper-button {

    color: white;

    a {
        text-decoration: none;
    }

    .button-green {
        background: #4CAF50;
        color: white;
    }

    .button-blue {
        background: #4285f4;
        color: white;
    }
}
