.navigation-item {
   background: #F6F7F8;
   border: 1px solid #E3E6E8;
   border-radius: 3px;
   padding: 9px 21px;
   padding-bottom: 12px;
   width: 100% !important;
   max-width: 632px;
}

.navigation-list {
   padding-bottom: 5px;
   border-bottom: 1px solid rgba(154, 154, 154, 0.5);
   margin-bottom: 5px;
}

.navigation-btn:hover {
   opacity: .6;
}

.navigation-right {
   display: flex;
   align-items: center;
   margin-left: auto;
}

.navigation-content {
   display: flex;
   align-items: center;
   width: 100%;
}

.navigation-close i {
   font-size: 18px;
   color: #737373;
   margin-left: 17px;
}

.navigation-edit i {
   font-size: 18px;
   color: #737373;
   margin-left: 45px;
}

.navigation-arrow i {
   font-size: 18px;
   color: #737373;
   margin: 0 5px;
}

.navigation-label {
   font-size: 13px;
   line-height: 14px;
   color: #000000;
}

.navigation-eye i {
   font-size: 18px;
   color: #0079B8;
   margin-right: 21px;
}

.s-l-opener {
   margin-right: 10px;
   cursor: pointer;
}

.navigation-list .root-navigation {
   margin-top: 5px;
   margin-left: 35px;
}

.navigation-modal {
   margin: 0 auto;
}

.navigation-header {
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   color: #000000;
   margin-bottom: 22px;
}

.navigation-plus {
   margin-left: 15px;
}

.navigation-plus:hover {
   opacity: .6;
}

.navigation-plus i {
   font-size: 18px;
   color: #565656;
   cursor: pointer;
}

.navigation-text {
   font-size: 13px;
   line-height: 24px;
   color: #000000;
}

.navigation-select {
   border: none;
}

.navigation-wrap {
   border-bottom: 1px solid #9A9A9A;
}

.navigation-block {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}

.navigation-footer {
   margin-top: 47px;
}

@media (max-width: 640px) {
   .navigation-popup {
      padding-right: 10px;
   }

   .navigation-content {
      flex-direction: column;
      align-items: flex-start;
   }

   .navigation-right {
       margin-left: 0;
       margin-top: 10px;
   }

   .navigation-left {
      margin-top: 10px;
  }
}