<div class="editor-content">

   <div class="editor-wrapper">
      <div class="editor">
         <div class="admin-panel__title">
            Настройки показа
            <a href="javascript:void(0)" role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-top-right">
                <i class="fas fa-info-circle"></i>
                <span class="tooltip-content">Действие определяется через вкл\выкл. <img class="tooltip-checkbox" src="../../assets/new_layout/img/sprite/checkbox.svg" alt="##"><br> По умолчанию действие вкл при первом совпадении даты и времени</span>
            </a>
         </div>
         <div class="editor__form">
            <div class="editor__wrap">
               <button class="editor__dots">
                  <i class="fas fa-ellipsis-v"></i>
               </button>
               <div class="editor__content">
                  <input type="checkbox" id="editor1"> 
                  <label for="editor1">
                     пн
                  </label>
                  <input type="checkbox" id="editor2">
                  <label for="editor2">
                     вт 
                  </label>
                  <input type="checkbox" id="editor3"> 
                  <label for="editor3">
                     ср
                  </label>
                  <input type="checkbox" id="editor4"> 
                  <label for="editor4">
                     чт
                  </label>
                  <input type="checkbox" id="editor5"> 
                  <label for="editor5">
                     пт
                  </label>
                  <input type="checkbox" id="editor6"> 
                  <label for="editor6">
                     сб
                  </label>
                  <input type="checkbox" id="editor7"> 
                  <label for="editor7">
                     вс
                  </label>
               </div>
               <button class="editor__close">
                  <i class="fas fa-times"></i>
               </button>
            </div>
            <div class="editor__nav">
               <button>
                  <span>
                     <i class="fas fa-plus"></i>
                     Добавить время
                  </span>
               </button>
               <button>
                  <span>
                     <i class="fas fa-plus"></i>
                     Добавить дату
                  </span>
               </button>
            </div>
            <div class="editor__bottom">
               <div class="editor__arrows">
                  <button class="editor__arrow">
                     <i class="fas fa-chevron-down"></i>
                  </button>
                  <button class="editor__arrow">
                     <i class="fas fa-chevron-up"></i>
                  </button>
               </div>
               <div class="checkbox">
                  <input type="checkbox" id="checkbox" checked>
                  <label for="checkbox"></label>
               </div>
           </div>
            </div>
         </div>
      </div>
   </div>
   
   <div class="editor-wrapper">
      <div class="editor">
         <div class="admin-panel__title">
            Настройки показа
            <a href="javascript:void(0)" role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-top-right">
                <i class="fas fa-info-circle"></i>
                <span class="tooltip-content">Действие определяется через вкл\выкл. <img class="tooltip-checkbox" src="../../assets/new_layout/img/sprite/checkbox.svg" alt="##"><br> По умолчанию действие вкл при первом совпадении даты и времени</span>
            </a>
         </div>
         <div class="editor__form">
            <div class="editor__wrap">
               <button class="editor__dots">
                  <i class="fas fa-ellipsis-v"></i>
               </button>
               <div class="editor__content">
                  <input type="checkbox" id="editor1"> 
                  <label for="editor1">
                     пн
                  </label>
                  <input type="checkbox" id="editor2">
                  <label for="editor2">
                     вт 
                  </label>
                  <input type="checkbox" id="editor3"> 
                  <label for="editor3">
                     ср
                  </label>
                  <input type="checkbox" id="editor4"> 
                  <label for="editor4">
                     чт
                  </label>
                  <input type="checkbox" id="editor5"> 
                  <label for="editor5">
                     пт
                  </label>
                  <input type="checkbox" id="editor6"> 
                  <label for="editor6">
                     сб
                  </label>
                  <input type="checkbox" id="editor7"> 
                  <label for="editor7">
                     вс
                  </label>
               </div>
               <button class="editor__close">
                  <i class="fas fa-times"></i>
               </button>
            </div>
            <div class="editor__nav">
               <div class="editor__time">
                  <label for="">от</label>
                  <span>
                     <input type="time" value="01:00" required>
                  </span>
                  <label for="">до</label>
                  <span>
                     <input type="time" value="01:00" required>
                  </span>
                  <button class="editor__close">
                     <i class="fas fa-times"></i>
                  </button>
               </div>
               <div class="editor__time editor__time--date">
                  <label for="">от</label>
                  <span>
                     <input type="date">
                     <i class="fas fa-chevron-down"></i>
                  </span>
                  <label for="">до</label>
                  <span>
                     <input type="date">
                     <i class="fas fa-chevron-down"></i>
                  </span>
                  <button class="editor__close">
                     <i class="fas fa-times"></i>
                  </button>
               </div>
            </div>
            <div class="editor__bottom">
               <div class="editor__arrows">
                  <button class="editor__arrow">
                     <i class="fas fa-chevron-down"></i>
                  </button>
                  <button class="editor__arrow">
                     <i class="fas fa-chevron-up"></i>
                  </button>
               </div>
               <div class="checkbox">
                  <input type="checkbox" id="checkbox-2" checked>
                  <label for="checkbox-2"></label>
               </div>
           </div>
            </div>
         </div>
      </div>
   </div>
   
   <button class="editor-add">
      <i class="fas fa-plus"></i>
   </button>
</div>