extends ./layout

include ./mixin/widgets
include ./mixin/actions

block body
  .horizontal.layout
    .flex
      +globalActions('add', instance)

  .layout
    div
      a(href='#{instance.uri}')
        paper-button(raised='').button-blue
          iron-icon(icon='arrow-back')
          | &nbsp;Back to list

    form(action='#{instance.uri}/add', method='POST', enctype="multipart/form-data")#form
      each field, key in fields
        +fieldWidget(key, field, data[key], instance)
      if adminpanel.configHelper.isCsrfEnabled()
        div
          input(type="hidden", name="_csrf", value=_csrf)
      p
        paper-button(raised='', onclick="submitForm()")#submit.button-green
          | &nbsp;Submit
        +inlineActions(instance, {}, 'add')


block js
  script.
    function submitForm() {
      // Assign JSONEditor value to form textarea
      for (var id in jsonEditor) {
          try {
              var json = jsonEditor[id].get();
              $('#form-' + id).val(JSON.stringify(json));
          } catch (e) {
              alert('JSON is invalid.');
              $('#form-' + id).show().focus().hide();
              jsonEditor[id].focus();
              return false;
          }
      };
      document.getElementById('form').submit();
    }

  +installEditors(fields, null)
