extends ./layout
include ./mixin/widgets

block body
  .container-fluid
    .page-header
      h3 Add new record
        a(href='#{instance.uri}').btn.btn-info.pull-right
          i.glyphicon.glyphicon-th-list
          | &nbsp;Back to list
    form(role='form', action='#{instance.uri}/add', method='POST', enctype="multipart/form-data").form-horizontal
      each field, key in fields
        +fieldWidget(key, field, data[key])
      div
        input(type="hidden", name="_csrf", value=_csrf)
      div
        button().btn.btn-success
          i.glyphicon.glyphicon-ok
          | &nbsp;Create


block js
  +installEditors(fields)
