extends ./layout

include ./mixin/widgets

block imports
  link(rel="import", href='/admin/vendor/polymer/polymer.html')
  link(rel="import", href='/admin/polymer/associations/model-select.html')

block body
  .container-fluid
    .page-header
      h3 Edit record
        a(href='#{instance.uri}').btn.btn-info.pull-right
          i.glyphicon.glyphicon-th-list
          | &nbsp;Back to list

    form(role='form', action='#{instance.uri}/edit/#{record.id}', method='POST', enctype="multipart/form-data").form-horizontal
      each field, key in fields
        +fieldWidget(key, field, record[key])
      div
        input(type="hidden", name="_csrf", value=_csrf)
      div
        button.btn.btn-success
          i.glyphicon.glyphicon-ok
          | &nbsp;Save

block js
  +installEditors(fields)
