extends ./layout

include ./mixin/widgets
include ./mixin/actions

block imports
  link(rel="import", href='/admin/vendor/polymer/polymer.html')
  link(rel="import", href='/admin/polymer/associations/model-select.html')

block body
  - var idField = locals.adminpanel.configHelper.getIdentifierField(instance.config.model);
  .container-fluid
    .page-header
      h3 Edit record
        +globalActions('edit', instance, record)
        a(href='#{instance.uri}').btn.btn-info.pull-right
          i.glyphicon.glyphicon-th-list
          | &nbsp;Back to list

    form(role='form', action='#{instance.uri}/edit/#{record[idField]}', method='POST', enctype="multipart/form-data").form-horizontal
      each field, key in fields
        +fieldWidget(key, field, record[key], instance)
      div
        input(type="hidden", name="_csrf", value=_csrf)
      div
        button.btn.btn-success
          i.glyphicon.glyphicon-ok
          | &nbsp;Save
        +inlineActions(instance, record, 'edit')

block js
  +installEditors(fields)
