extends ./layout

include ./mixin/widgets
include ./mixin/actions

block imports
  link(rel="import", href='/admin/vendor/polymer/polymer.html')
  link(rel="import", href='/admin/polymer/associations/model-select.html')

block body
  - var idField = locals.adminpanel.configHelper.getIdentifierField(instance.config.model);
  .layout.horizontal
    .flex
      +globalActions('edit', instance, record)
  .layout
    div
      a(href='#{instance.uri}')
        paper-button(raised='').button-blue
          iron-icon(icon='arrow-back')
          | &nbsp;Back to list

    form(action='#{instance.uri}/edit/#{record[idField]}', method='POST', enctype="multipart/form-data")#form
      each field, key in fields
        +fieldWidget(key, field, record[key], instance)
      if adminpanel.configHelper.isCsrfEnabled()
        div
          input(type="hidden", name="_csrf", value=_csrf)
      div
        paper-button(raised='', onclick="submitForm()")#submit.button-green
          | &nbsp;Submit

        +inlineActions(instance, record, 'edit')

block js
  script.
    function submitForm() {
      document.getElementById('form').submit();
    }

  +installEditors(fields)
