include ./mixin/navbar
doctype html
html
  head
    title #{locals.title}
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    // Polymer inject
    script(src="/admin/vendor/webcomponentsjs/webcomponents.min.js")
    //Bootstrap injections
    link(rel="stylesheet", href="/admin/vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/admin/vendor/bootstrap/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/admin/vendor/animate.css/animate.min.css")
    // STYLES
    link(rel="stylesheet", href="/admin/styles/importer.css")
    // STYLES END
    block styles
  body(data-ng-app='Admin')
    block menu
      +navbar()

    block alerts
      .container
        if (req.session.flash && req.session.flash.adminError)
          .alert.alert-danger
            each msg in req.flash('adminError')
              div #{msg}
        if (req.session.flash && req.session.flash.adminSuccess)
          .alert.alert-success
            each msg in req.flash('adminSuccess')
              div #{msg}

    block body
      | Layout
    block footer
      div
        hr
        small Some footer info
    script(src="/admin/vendor/jquery/dist/jquery.min.js")
    script(src="/admin/vendor/bootstrap/dist/js/bootstrap.min.js")
    script(src="/admin/vendor/ckeditor/ckeditor.js")
    block js
