include ./mixin/navbar
doctype html
html
  head
    title #{locals.title}
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='theme-color', content='#303F9F')
    meta(http-equiv='msapplication-TileColor', content='#3372DF')

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    // Polymer inject
    script(src="/admin/vendor/webcomponentsjs/webcomponents-lite.min.js")

    link(rel="import", href="/admin/polymer/elements.html")
    link(rel="import", href="/admin/polymer/admin-styles/admin-styles.html")
    // STYLES
    link(rel="stylesheet", href="/admin/styles/importer.css")
    link(rel="stylesheet", href="/admin/bower_components/jsoneditor/dist/jsoneditor.min.css")
    // STYLES END
    block styles

    block imports
  body.fullbleed.layout.vertical

    paper-drawer-panel
      paper-header-panel(drawer='')
        block menu
          +navbar()
      paper-header-panel(main='')
        paper-toolbar
          paper-icon-button(icon='menu', paper-drawer-toggle='')
          span.flex #{locals.adminpanel.menuHelper.getBrandTitle()}
        div.layout.fill.vertical

          if (adminpanel.viewHelper.hasFlash(req, 'adminError'))
            each msg in req.flash('adminError')
              admin-alert(error='') #{msg}
          if (adminpanel.viewHelper.hasFlash(req, 'adminSuccess'))
            each msg in req.flash('adminSuccess')
              admin-alert(success='') #{msg}

          div#mainLayout
            block body
              | Layout
    //block footer
    //  div
    //    hr
    //    small Some footer info

    script(src="/admin/vendor/jquery/dist/jquery.min.js")
    script(src="/admin/vendor/ckeditor/ckeditor.js")
    script(src="/admin/bower_components/jsoneditor/dist/jsoneditor.min.js")
    block js
