extends ./layout

include ./mixin/listHelper
include ./mixin/pagination
include ./mixin/actions

block body
  .container-fluid
    .page-header
      h3 List of #{instance.name}
        +globalActions('list', instance)
        if instance.config.add
          a(href='#{instance.uri}/add').btn.btn-success.pull-right
            i.glyphicon.glyphicon-plus
            | &nbsp;Create new record
    .row
      // add filters here
      .col-md-12
        table.table.list
          thead
            +listHead(fields)
          tbody
            each obj in list
              +listRow(obj, instance)

        if total > 0
          div: mark Total: #{total}
        hr
        +pagination(instance.uri, (req.param('page') || 1), total, instance.config.list.limit, requestProcessor)

        if list.length == 0
          .alert.alert-info
            i.glyphicon.glyphicon-warning-sign
            | &nbsp;#{__('No records found !')}
