extends ./layout

include ./mixin/listHelper
include ./mixin/pagination
include ./mixin/actions

block body
  .horizontal.layout
    .flex
      +globalActions('list', instance)


  div.layout
    material-data-table
      table.flex
        thead
          +listHead(fields)
        tbody
          each obj in list
            +listRow(obj, instance)
        tfoot
          tr
            td
              span Total: #{total}
            td(colspan=Object.keys(fields).length).pagination
              +pagination(instance.uri, (req.param('page') || 1), total, instance.config.list.limit, requestProcessor)

    if list.length == 0
      .alert.alert-info
        i.glyphicon.glyphicon-warning-sign
        | &nbsp;#{__('No records found !')}

    if instance.config.add
      a(href='#{instance.uri}/add')#add
        paper-fab(icon='add')
