extends ./layout

block body
  .login-wrapper
    form.login(method='post', action='/admin/userap/login')
      section.title
        h3.welcome Welcome!
        | Please log in
      .login-group
        input(type='text', placeholder='Username', name='username')
        input(type='password', placeholder='Password', name='password')
        button.btn.btn-primary(type='submit') Log in
