extends ./layout

block body
  .container-fluid
    .page-header
      h3 Please login
      form(method='post', action='/admin/userap/login')
        input(type='text', placeholder='Username', name='username')
        br
        input(type='password', placeholder='Password', name='password')
        br
        input(type='submit', value='Log in')
