// STYLES
link(rel="stylesheet", href="/admin/styles/importer.css")
link(rel="stylesheet", href="/admin/bower_components/jsoneditor/dist/jsoneditor.min.css")
link(rel="stylesheet", href="/admin/bower_components/jsoneditor/dist/jsoneditor.min.css")
if (theme === 'dark')
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/clarity-ui/0.10.28/clarity-ui-dark.min.css")
else
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/clarity-ui/0.10.28/clarity-ui.min.css")
link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/clarity-icons/0.10.28/clarity-icons.min.css")
script(src="//cdnjs.cloudflare.com/ajax/libs/clarity-icons/0.10.28/clarity-icons.min.js")

.login-wrapper
  form.login(method='post', action='/admin/userap/login')
    section.title
      h3.welcome Welcome!
      | Please log in
    .login-group
      input(type='text', placeholder='Username', name='username')
      input(type='password', placeholder='Password', name='password')
      button.btn.btn-primary(type='submit') Log in
