<% if (adminpanel.menuHelper.hasGlobalActions(instance.config, actionType)) { %>
    <% var actions = adminpanel.menuHelper.getGlobalactions(instance.config, actionType) %>
    <% if (actions && actions.length > 0) { %>
        <% actions.forEach(function(action) { %>
            <a href="<%= adminpanel.menuHelper.replaceModelFields(action.link, record) %>" id="add">
                <button class="btn btn-success">
                    <clr-icon shape="<%= action.icon %>" role="none"></clr-icon>
                    &nbsp;<%= action.title %>
                </button>
            </a>
        <% }) %>
    <% } %>
<% }%>

